body{
    height: 100vh;
}

header{
    height: 70px;
}

main{
    height: calc(100vh - 70px);
}

.logo-mobile{
    height: 40px;
    width: 40px;
}

.logo-desktop{
    height: 40px;
}

/* <!-- HEADER COMPLETATO --> */

.side-bar{
  background-image: url(../img/sidebar-bg.png);
  background-color: rgba(5, 30, 52, 1);
}

/* SIDE BAR COMPLETATA */

.main-header{
  background-color: rgb(12, 53, 129); 
}

.no-padding{
    padding: 0;
}

.font-size{
    font-size: 0.8rem;
}

/* MAIN HEADER COMPLETED */

.width-button-table{
    width: 40px;
}